.container {
  font-size: 1.4rem;
  width: 90vw;
  height: 90vh;
  display: flex;
  background-color: #ffffff;
}

.register__form {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register__form__greeting {
  font-weight: bold;
  color: #fd861e;
  font-size: inherit;
  margin-bottom: 1rem;
}

.register__image {
  width: 50%;
  height: 100%;
}

.register__form__image {
  font-weight: bold;
}

.register__image__1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__label {
  font-size: 1.4rem;
  color: #04012b;
}

.form__email {
  width: 48rem;
  height: 4.5rem;
  padding: 8px 0px;
  border: none;
  border-bottom: 1px solid #fef5df;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: #fd861e;
}

.form__name {
  width: 48rem;
  height: 4.5rem;
  padding: 8px 0px;
  border: none;
  border-bottom: 1px solid #fef5df;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: #fd861e;
}

.form__password {
  width: 48rem;
  height: 4.5rem;
  padding: 8px 0px;
  border: none;
  border-bottom: 1px solid #fef5df;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: #000;
}

.form__control {
  margin-top: 2rem;
}

.register__btn {
  width: 45.6rem;
  height: 5.4rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #000;
  border: none;
}

.register__form a {
  color: #fd861e;
  text-decoration: none;
}

.active {
  background-color: #322825;
}

.register__form__image {
  margin-bottom: 3rem;
}

@media (max-width: 60rem) {
  .container {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    align-items: center;
  }

  .register__image {
    display: none;
  }
}

@media (max-width: 90rem) {
  .container {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .register__image {
    display: none;
  }
}
